:root {
  --secondary: #3c43a4;
  --accent: #ff5082;
}

body {
  color: var(--tg-theme-text-color) !important;
  background: var(--tg-theme-bg-color) !important;
  transition: color 0.5s, background-color 0.5s;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}